absl-py==1.3.0
aiosqlite==0.17.0
alabaster==0.7.12
aniso8601==9.0.1
anyio==3.6.2
apipkg==3.0.1
apparmor==3.1.2
appdirs==1.4.4
application-utility==1.3.2
asgiref
astroid==2.12.12
asttokens==2.1.0
astunparse==1.6.3
attrs==22.1.0
autocommand==2.2.1
autopep8==2.0.0
Babel==2.11.0
backcall==0.2.0
backports.cached-property==1.0.1
bcrypt==4.0.1
beautifulsoup4==4.11.1
blinker==1.5
btrfsutil==6.0.1
CacheControl==0.12.11
cachetools==5.2.0
cdflib==0.4.7
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
chardet==5.0.0
charset-normalizer==2.1.1
cheroot==8.6.0
CherryPy==18.8.0
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
contextlib2==21.6.0
coverage==6.5.0
cryptography==38.0.3
Cython==0.29.32
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
distro==1.8.0
Django
dnspython==2.2.1
docopt==0.6.2
docutils==0.19
ecdsa==0.18.0
elasticsearch==7.9.0
email-validator==1.3.0
exceptiongroup
executing==1.2.0
fastapi==0.85.2
filelock==3.8.0
findpython==0.2.2
Flask==2.2.2
Flask-RESTful==0.3.9
flatbuffers==22.10.26
future==0.18.2
gast==0.4.0
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.7.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
graphql-core==3.2.1
greenlet==2.0.0
grpcio==1.50.1
h11==0.14.0
h5py==3.7.0
html5lib==1.1
httplib2==0.21.0
httptools==0.5.0
identify==2.5.8
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflect==6.0.2
iniconfig==1.1.1
installer==0.5.1
ipython==8.6.0
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.5.2
jaraco.context==4.1.2
jaraco.functools==3.5.2
jaraco.text==3.10.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
keras==2.10.0
Keras-Preprocessing==1.1.2
keyutils==0.6
kink==0.6.5
lazy-object-proxy==1.8.0
LibAppArmor==3.1.2
libclang==14.0.6
libfdt==1.6.1
libtorrent==2.0.8
lit==14.0.6.dev0
lockfile==0.12.2
logutils==0.3.5
lxml==4.9.1
Mako==1.2.3
manjaro-sdk==0.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mock==3.0.5
more-itertools==9.0.0
msgpack==1.0.4
nftables==0.1
nodeenv==1.7.0
nose==1.3.7
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.23.3
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.8.1
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.5.0
parso==0.8.3
passlib==1.7.4
pbr==5.11.0
pdm==2.2.1
pdm-pep517==1.0.5
pecan==1.4.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
pkgconfig==1.5.5
platformdirs==2.5.2
pluggy
ply==3.11
portend==3.1.0
pre-commit==2.20.0
prettytable==3.5.0
progress==1.6
prometheus-client==0.15.0
prompt-toolkit==3.0.32
protobuf==3.19.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.2
Pygments==2.13.0
PyGObject==3.42.2
PyJWT==2.6.0
pylint==2.15.5
pyOpenSSL==22.1.0
pyparsing==3.0.9
PySide6==6.4.0.1
pytest
pytest-cov==4.0.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.2.1
PyYAML==6.0
rados==2.0.0
rbd==2.0.0
repoze.lru==0.7
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
resolvelib==0.8.1
retrying==1.3.3
rgw==2.0.0
rich==12.6.0
Routes==2.5.1
rsa==4.9
scikit-learn==1.1.3
scipy==1.9.3
shellingham==1.5.0
shiboken6==6.4.0.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.42
sqlparse
stack-data==0.6.1
starlette==0.20.4
strawberry-graphql==0.109.1
systemd-python==235
team==1.0
tempora==5.0.2
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
traitlets==5.5.0
trove-classifiers==2022.10.19
typing_extensions==4.4.0
udiskie==2.4.2
ujson==5.5.0
unearth==0.6.1
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.18.3
uvloop==0.17.0
validate-pyproject==0.10.1
vboxapi==1.0
virtualenv==20.16.6
waitress==2.1.2
watchfiles==0.18.0
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
websockets==10.4
WebTest==3.0.0
Werkzeug==2.2.2
wrapt==1.14.1
xarray==2022.9.0
xmlsec==1.3.13
zc.lockfile==2.0
zipp==3.10.0
